{% trans_default_domain 'FOSUserBundle' %}


{% block fos_user_content %}

         <div>
            <ul>

                <li><a href="{{ path('fos_user_profile_show') }}">View profile</a></li>

                <li><a href="{{ path('fos_user_change_password') }}">Change password</a></li>

            </ul>
         </div> 
                <div class="dark-matter">
                    <h3>Change Profile Information</h3>

                    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                    {{ form_widget(form) }}
                    <div>
                        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" id="wp-submit" class="btn btn-primary" value="Login" tabindex="100"/>
                    </div>
                    {{ form_end(form) }}
                </div>
                {% endblock %}