{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <div class="container">
            <div id="middle "class="container_12" >
                <div class="inner">    
                    <!-- login widget -->
                    <div class="widget-container widget_login">
                        <h3>Votre profil :</h3>
    <h4>{{ 'profile.show.username'|trans }}: {{ user.username }}</h4></br>
    <h4>{{ 'profile.show.email'|trans }}: {{ user.email }}</h4>
    <h3>{{user.roles.0}}</h3>
    </div>
    </div>
    </div>
</div>
    </div>
