{% extends "TMallVendorBundle::layout.html.twig" %}

{% block navbar %}
    
    
  <div class="navbar">

  <div class="top-bar">
  
	<div class="row">
  
		<div class="pull-left visible-xs visible-sm padding_5 left_padding_15">
			<a href="javascript:ShowHide('nav_menu')" class="expand_menu_link"><img src="{{asset('vendor/images/menu-grid.gif')}}" alt="expand menu"/> &nbsp; Menu</a>
		</div>
		<div class="clearfix"></div>
        <div id="nav_menu" class="navbar-collapse">
          <ul class="main-top-menu nav navbar-nav">
            
<li class="dropdown"><a class="main-top-link" href="{{path('front')}}">Home</a>

</li>
<li class="dropdown"><a class="main-top-link" href="{{path('t_mall_client_listBoutique')}}">Create Store</a>

</li>
<li class="dropdown"><a class="main-top-link" href="{{path('tmall_vendor_MyStores')}}">Stores</a>

</li>
<li class="dropdown"><a class="main-top-link" href="{{path('t_mall_vendor_approve')}}">Orders</a>
<ul class="text-left dropdown-menu">
<li ondragstart="javascript:dragStart()" id="orders-approve" class="menu-sub-link"><a href="{{path('t_mall_vendor_approve')}}">New Orders</a></li>
<li ondragstart="javascript:dragStart()" id="orders-rejected" class="menu-sub-link"><a href="{{path('t_mall_vendor_rejected')}}">Rejected Orders</a></li>
<li ondragstart="javascript:dragStart()" id="orders-approved" class="menu-sub-link"><a href="{{path('t_mall_vendor_approved')}}">Approved Orders</a></li>

</ul>
</li>



		 </ul>
					
        </div>  
	
	</div>
	
  </div>
</div>
  
    
    
    
    
    
    
    
    
    
    
    
    
    
{% endblock %}
{% block container %}


<div class="container">	
	
	<div id="main_content" class="text-left col-md-12 min-height-300">
		
		<div class="fright">
	<a class="small-tile green-back" href="{{path('t_mall_vendor_approved')}}"><img class="pull-right" width="32" src="{{asset('vendor/images/icons/approved.png')}}"><h3 class="h3-tile">Approved Orders</h3>
	</a><a class="small-tile red-back" href="{{path('t_mall_vendor_rejected')}}"><img class="pull-right" width="32" src="{{asset('vendor/images/icons/rejected.png')}}"><h3 class="h3-tile">Rejected Orders</h3>
	<a class="small-tile green-back" href="{{path('t_mall_vendor_addOrder')}}"><img class="pull-right" width="32" src="{{asset('vendor/images/icons/approved.png')}}"><h3 class="h3-tile">Add Order</h3>

        </a></div>
<div class="clear"></div>

<h3>
	Approve the latest orders</h3>
<br><br>

                <table class="table" style="width :100%">
    
        <th>Name Product</th>
        <th>Name User</th>
        <th> Date </th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
        {% for commande in pagination %}
 
    
    <tr>
    <td> {{commande.idProduit.getTitre()}} </td> <br/>
    <td> {{commande.idUser.getUsername()}} </td> <br/>
    <td>   {{commande.date|date('d/m/Y')}}   </td><br/>
    <td>   {{commande.prix}}   </td><br/>
    <td>   {{commande.quantite}}   </td><br/>
    <td> <a href="{{path('tmall_vendor_affirmOrder',{'id':commande.id})}}" name="Approve" class="btn btn-primary">Approve</a></td> <br/>
    <td> <a href="{{path('tmall_vendor_rejectOrder',{'id':commande.id})}}" name="Rejected" class="btn btn-danger">Reject</a></td> <br/>
    <td> <a href="{{path('tmall_vendor_deleteOrder',{'id':commande.id})}}" name="Rejected" class="btn btn-success">Delete</a></td> <br/>
    <td> <a href="{{path('tmall_vendor_editOrder',{'id':commande.id})}}" name="Edit" class="btn btn-warning">Edit</a></td> <br/>
   <td> <a href="{{path('tmall_vendor_showPDF',{'id':commande.id})}}" name="Edit" class="btn btn-info">Download pdf</a></td> <br/>
   
    
    
    </tr>
    

    {% endfor %}
    
  
    </table>    
    
    



		
				
		<div class="clear"></div>
		<br><br>
	</div>

    
    
    
    
    {# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>


{% endblock %}
