::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::Your Bill:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: <br/>

 Name Product:<td> {{commande.idProduit.getTitre()}} </td> <br/>
--------------------------------------------------------------------------------------------------------------------------------------------
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  Name Client:  <td> {{commande.idUser.getUsername()}} </td> <br/>
--------------------------------------------------------------------------------------------------------------------------------------------
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp   Date: <td>   {{commande.date|date('d/m/Y')}}   </td><br/>
--------------------------------------------------------------------------------------------------------------------------------------------
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp   Price: <td>   {{commande.prix}}   </td><br/>
--------------------------------------------------------------------------------------------------------------------------------------------
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp   Quantity: <td>   {{commande.quantite}}   </td><br/>
-------------------------------------------------------------------------------------------------------------------------------------------- 
