<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from www.quixstore.com/en_Create+your+store.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 07 Feb 2016 19:11:18 GMT -->
<head>
<meta charset="utf-8">
<title>Create your store</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="{{asset('Client/css/bootstrap.css')}}" rel="stylesheet"/>

<link rel="stylesheet" href="{{asset('Client/css/common.css')}}">
<link rel="stylesheet" href="{{asset('Client/css/main.css')}}">
<script src="{{asset('Client/js/jquery.js')}}"></script>
<script type="text/javascript"
        src="https://www.simplify.com/commerce/simplify.pay.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDlsfBOyV5HSxsyXdlmp4LSP02ilFM_AYc"></script>
<script>
   var myCenter=new google.maps.LatLng(36.832410, 10.238118);
  var marker ; 
function initialize() {
  var mapProp = {
    center:myCenter,
    zoom:5,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
  
        var marker=new google.maps.Marker({
  position:myCenter,
  animation:google.maps.Animation.BOUNCE
  });

marker.setMap(map);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>
<body>

<div id="header">
<div class="container">
<div class="row top-line-padding">

	<div class="col-xs-4">
	 <a class="pull-left" href="index.html"><img src="{{asset('Client/images/logooooooo.png')}}" class="site-logo" width="140"/></a>
	
	
	
	</div>
	<div class="cart-wrap">
   
	{% render(controller('TMallClientBundle:Default:menu')) %}
</div>

		
		<div class="site-nav pull-right">
		 <ul>
            <div class="hide-sm pull-left">
<li><a href="{{path('front')}}">Home</a></li>

<li><a href="{{path('t_mall_client_aboutUs')}}">About us</a></li>
<li><a href="{{path('t_mall_client_contact_page')}}">Contact</a></li>
<li>{% if not is_granted("ROLE_USER") %}<a href="{{ path('fos_user_security_login') }}">Log IN</a></li>				
<li> <a href="{{ path('fos_user_registration_register') }}">REGISTER</a>{% endif %}</li> 
<li>{% if is_granted("ROLE_USER") %}<a href="{{ path('fos_user_security_logout') }}">Logout</a> </li> {% endif %}  
{% if is_granted("ROLE_USER") %}
<li><a>  {{ app.user.username }} </a></li>
{% endif %}
            
            </div>
				

		 </ul>
		</div>
		
	
	</div>

<div class="navbar">

  <div class="top-bar">
  
	<div class="row">
  
	<div class="col-md-2 hide-sm">
		
	

	
	</div>
	<div class="col-md-5 no-right-padding">
		
	
	
	
	</div>
	<div class="col-md-5 no-left-padding">
	
		<a class="show-sm pull-right" href="javascript:ShowHide('top_menu')"><img src="{{asset('Client/images/menu-grid.gif')}}"/></a>
		
		
		<ul id="top_menu" class="top-menu rel-5 hide-sm">
			<div class="show-sm">
<li><a href="">Home</a></li>

</div>
				
<li><a href="{{path('t_mall_client_boutiqueDetail')}}">Stores</a></li>


		</ul>
			
			 
	</div>
	
	
  
	
	</div>
	
  </div>
</div>
</div>
</div>

{% block myCarousel %}{% endblock %}
	 <div class="clearfix"></div><br/><br/>


<div class="clear"></div>
	
<div class="main-back">	
<div class="container margin-top-10">	
	

	{% block content %}{% endblock %}
		
		 <div class="text-left col-md-3 no-left-padding no-right-padding">
			
			<br/>

<div class="list-group add-border rounded-borders">
	
	<div href="#" class="top-bar rounded-borders">
	<h4>Nos Offres</h4>
	</div>		
	
	
	
	
	

	
	
	
	

	
	
	
	

	
	
	
	

	
	
	
	


</div>


			
			
			<div class="list-group add-border rounded-borders">
	
				<div href="#" class="top-bar rounded-borders">
				<h4>Latest Products</h4>
				</div>	
					<a href="" class="underline-link text-center list-group-item">
	</a>

			</div>
			
			
			<div class="list-group add-border rounded-borders">
	
				<div href="#" class="top-bar rounded-borders">
				<h4>Advertisements</h4>
				</div>
				<br/>
				
				<!--
				<center>
					<a rel="nofollow" href="http://www.bestwebscripts.com" target="_blank"><img src="{{asset('Client/http://www.quixstore.com/best-web-scripts.jpg')}}" class="img-responsive" alt="best web scripts"/></a>
				</center>
				<br/>
				-->
			</div>
		</div>
		<div class="clear"></div>
		<br/><br/>
	</div>	
</div>	
	
<div  class="footer-section">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
	<h5>ABOUT</h5>
	
						<a class="upper" href="{{path('front')}}">Home</a>
					
						
					
						<a class="upper" href="{{path('t_mall_client_aboutUs')}}">About us</a>
					
						<a class="upper" href="{{path('t_mall_client_contact_page')}}">Contact</a>
					 </div>

<div class="col-md-3">
	<h5>OUR OFFERS</h5>
	
	<a class="upper" href="{{path('t_mall_client_boutiqueDetail')}}">Stores</a>
	

 </div>
<div id="socialMedia" class="col-md-3 pull-right">
	<h5>SOCIAL MEDIA </h5>
	<a href="#"><img width="60" height="60" src="{{asset('Client/images/facebook.png')}}" title="facebook" alt="facebook"/></a>
	<a href="#"><img width="60" height="60" src="{{asset('Client/images/twitter.png')}}" title="twitter" alt="twitter"/></a>
	<a href="#"><img width="60" height="60" src="{{asset('Client/images/youtube.png')}}" title="youtube" alt="youtube"/></a>
 </div> 
		 </div>
		<p class="pull-right">2016 &copy; Tunisia Mall</p>
	</div>
	</div>

	
    
    <script src="{{asset('Client/js/bootstrap.min.js')}}"></script>

	

	<script src="{{asset('Client/js/login.js')}}"></script>
<div id="main-login-form">
	<a href="javascript:HideLogin()"><img class="close-login-icon" alt="close" src="{{asset('Client/images/closeicon.png')}}"/></a>
	<h3 class="lfloat" id="top_msg_header">
	Login	</h3>
	
		<hr class="clear"/>
		
			<script>
			function ValidateLoginForm(x)
			{
				if(x.Email.value=="")
				{
					document.getElementById("top_msg_header").innerHTML=
					"Please enter your username!";
					x.Email.focus();
					return false;
				}
				else
				if(x.Password.value=="")
				{
				
					document.getElementById("top_msg_header").innerHTML=
					"Please enter your password!";
					x.Password.focus();
					return false;
				}
				return true;
			}
			</script>
						
			<form class="no-margin" action="#" method="post" onsubmit="return ValidateLoginForm(this)">
			
			<table class="bcollapse">
							<input type="hidden" name="lang" value="en">
							<tr height="36">
				
					<td >Username: </td>
					<td><input type="text" size="40" class="form-field" value="" name="Email"/></td>
					
				</tr>
				<tr>
					<td >Password: </td>
					<td><input  size="40" class="form-field" type="password" name="Password"/></td>
					
				</tr>
				<tr>
					<td colspan="2">  
					
					<input type="submit" class="btn btn-primary pull-right margin-20" value="Login"/>
					<br/>
					<a class="pull-left" href="en-mod-forgotten_password.html">forgotten password?</a> 
					
					</td>
				</tr>
				
			</table>
			</form>
			<br/>
	
	<br/>
</div>
<div id="popup" class="popup">
	
	The product was added successfully to your cart!	<br/><br/>
	<a class="underline-link" href="javascript:ShowCart()"><img src="{{asset('Client/images/cart-m.png')}}"/></a>
	<br/>
	
</div>	
<iframe id="ajax-ifr" name="ajax-ifr" src="Client/include/empty-page.html" style="position:absolute;top:0px;left:0px;visibility:hidden" width="1" height="1"> </iframe>


</body>

<!-- Mirrored from www.quixstore.com/en_Create+your+store.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 07 Feb 2016 19:12:15 GMT -->
</html><script>
		
		function ShowCart()
		{
			document.location.href='{{path('t_mall_client_cart')}}';
		}
		if(parent.document.getElementById('Cart'))
				{
					parent.document.getElementById('Cart').innerHTML="Your cart";
				}
				</script>