{% extends "TMallVendorBundle::layout.html.twig" %}

{% block navbar %}
    
    
  <div class="navbar">

  <div class="top-bar">
  
	<div class="row">
  
		<div class="pull-left visible-xs visible-sm padding_5 left_padding_15">
			<a href="javascript:ShowHide('nav_menu')" class="expand_menu_link"><img src="{{asset('vendor/images/menu-grid.gif')}}" alt="expand menu"/> &nbsp; Menu</a>
		</div>
		<div class="clearfix"></div>
        <div id="nav_menu" class="navbar-collapse">
          <ul class="main-top-menu nav navbar-nav">
            
<li class="dropdown"><a class="main-top-link" href="{{path('tmall_vendor_MyStores')}}">My Stores</a>

</li>






		 </ul>
					
        </div>  
	
	</div>
	
  </div>
</div>
  
    
    
    
    
    
    
    
    
    
    
    
    
    
{% endblock %}


{% block container %}
    
    <div class="container">
    
    <h1>Product</h1>

    <table class="table table-hover admin-table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{entity.titre}}</td>
            </tr>
            <tr>
                <th>Image</th>
                
                <td><img  src="{{asset(''~ entity.photo.path ~'')}}" alt="{{ entity.photo.path}}" width="200" height="150"></td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ entity.prix }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ entity.quantity }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ entity.category.nom }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('produit',{id:1}) }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('produit_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    </div>
{% endblock %}
